
.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#tit{
  padding-top: 0;
  padding-bottom: 0;
}
.brand{
  margin-left: 20px;
  margin-right: 20px;

}
.dog{
  margin-top: 5px;
  margin-bottom: 2px;
  border-radius: 50%;
}
.iphone{
  padding-top: 5px;
  padding-bottom: 0px;
display: flex;}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}